@charset "utf-8";
 /*----------------------------------------手机端修饰----------------------*/
@media screen and (max-width: 750px){
html{font-size: 100px}
/*----------------------------------------header修饰-----------------------------------------*/

header {
	display: flex;
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
	height: 0.45rem;
    line-height:0.45rem ;
	text-align: center;
	color: #fff;
	background: #5acfd7;
}
header .iconfont {
	flex:1;
	padding-left:.05rem;
	font-size: .22rem; color: #fff;
}
header span{flex:1;margin-right: .4rem;line-height:.45rem;font-size: .2rem}

/*----------------------------------------wrap修饰-----------------------------------------*/
.wrap{margin-top:.45rem; padding-bottom: 6rem;margin-bottom: -6rem;}
.list {
	width: 100%; height: 1.13rem; float: left; overflow: hidden;
	border-bottom: .01rem solid #eeeeee;
}
.wrap .list-child(5){margin-top:-.10rem; }

.portrait{ float:left; width: 80%; overflow: hidden;}

.portrait i img{
	float: left; width: 20%; height: 1.13rem;
	width: .57rem; height: .57rem; margin: .32rem .15rem 0 .11rem;
	background-image: url(../images/toux04.jpg);
	background-size:cover; border-radius: 50%;
}

.text { float:left; margin-top: .32rem; width: 60%;height: 1.13rem;}

.portrait p:nth-child(1){ font-size: .13rem; color: #050505; }

.portrait p:nth-child(2){ font-size: .12rem; color: #9b9999; }

.portrait p:nth-child(3){ font-size: .12rem; color: #d9d8d8; }

.text-r{
	width: 20%; height: 1.13rem;
	float: left; margin-left: -.15rem;
	text-align: center; 
}
.text-r span {
	margin-top:.40rem; line-height: .33rem; 
	display: block; width: .63rem; height: .33rem;
	border: .01rem solid #5acfd7; border-radius: .11rem; color: #9b9999;
}

/*----------------------------------------footer修饰-----------------------------------------*/
footer{	
	position: fixed;
	bottom: 0;
	z-index: 999;
	width: 100%;
	height: .50rem;
	border-top: 0.01rem solid #eeeeee;
	background: #fff;
}
footer ul{
	display: flex;
}
footer ul li{
	flex: 1;
	text-align: center;
}
footer ul li a{
	display: block;
}
footer ul li a .iconfont{
	display: block;
	margin-top: 0.15rem ;
	line-height: .25em;
	font-size: .25rem;
	color: #898989;
}
footer ul li a p{
	margin-top: 0.05rem;
	line-height: .25rem;
	color: #888;
}
footer ul li:nth-child(1) a i{
	margin: 0.13rem 0 0.07rem 0;
	font-size: .3rem;
}
footer ul li:nth-child(5) a i{
	color: #5ad0d8;
}
footer ul li:nth-child(5) a p{
	color: #5ad0d8;
}
footer ul li:nth-child(3){
	margin-top: -0.05rem;
}
footer ul li:nth-child(3) a i{
	display: block ;width: .5rem;height:.5rem;margin: 0 auto;
	background: #5acfd7; color: #fff; font-size: .3rem;
	border-radius: 50%;
	line-height: .5rem;
}



}